/* 
Initial Author: TfTHacker - more info  https://tfthacker.com/banner-image
Modified by: RheynsZa - https://github.com/rheynsZa
*/

:root {
    --banner-image-height: 450px;
}

.markdown-preview-section {
    margin-top: var(--banner-image-height) !important;
}

.show-view-header div:not(.markdown-embed-content)>.markdown-preview-view:is(.banner-imageright):has([alt*="banner"]) {
    padding-top: 0px;
}


.markdown-preview-view [alt*="banner"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0px !important;
    height: calc(var(--banner-image-height) + 20px) !important;
    padding: 0px;
    background-color: transparent;
    border: 0px !important;
    border-radius: unset !important;
    object-position: center;

    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);

    /* Safari/Electron Compatibility */
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);


    .callout-icon {
        display: none;
    }

    .callout-title {
        padding: 0px !important;
        border: 0px !important;
    }

    .callout-title-inner {
        padding: 0px !important;
        margin: 0px !important;
    }
}

.banner-image.markdown-preview-view [alt*="banner"] img {
    position: absolute;
    min-height: var(--banner-image-height) !important;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

.banner-image [alt*="banner"] {
    .callout-icon {
        display: none;
    }
}

@media print {
    [alt*="banner"] {
        position: unset !important;
        top: unset !important
    }

    .banner-no-print [alt*="banner"] {
        display: none;
    }
}

.oit-img-view.img-default-background {
    height: unset !important;
}
